@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Megrim&display=swap");

$white: #f3f0f0;
$blue: #84c1ff;
$red: #ff1808;
$orange: #fa9e1e;
$pink: #ff0dff;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Baumans", cursive;
  color: $white;
  background: url("./media/bkg.jpg");
  background-size: cover;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  &:visited {
    color: $white;
  }
}
//***********************HEADER*********************//
.title {
  padding: 5px 0 0 10px;
}
h1 {
  font-family: "Megrim", cursive;
  font-size: 45px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding-left: 10px;
  color: $pink;
  text-shadow: 2px 2px 0px $blue, 4px 4px 0px $red, 4px 4px 6px $pink;
}
.nav {
  position: absolute;
  top: 4px;
  right: 10px;
}
